<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Context-Type" content="text/html; charset=UTF-8">
<meta name="ROBOTS" content="NOINDEX, NOFOLLOW, NOIMAGEINDEX"/>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
<meta name="apple-touch-fullscreen" content="YES"/>
<title></title>
<link rel="shortcut icon" href="${pageContext.request.contextPath}/commons/css/images/shortcut.ico">
<script src="${pageContext.request.contextPath}/commons/js/jquery/jquery-1.12.4.min.js"></script>
<script src="${pageContext.request.contextPath}/commons/js/jsCommon.js"></script>
<script src="${pageContext.request.contextPath}/commons/js/jsSVC.js"></script>
<script src="${pageContext.request.contextPath}/commons/js/jsAppCommon.js"></script>


<link rel="stylesheet" type="text/css" href="<%= request.getContextPath() %>/commons/css/default.css"/>
<link rel="stylesheet" type="text/css" href="<%= request.getContextPath() %>/commons/css/mobile.css" media="screen and (max-width: 480px)"/>
<link rel="stylesheet" type="text/css" href="<%= request.getContextPath() %>/commons/css/tab.css"    media="screen and (min-width: 481px) and (max-width: 1024px)"/>
<link rel="stylesheet" type="text/css" href="<%= request.getContextPath() %>/commons/css/screen.css" media="screen and (min-width: 1025px)"/>
<link rel="stylesheet" type="text/css" href="<%= request.getContextPath() %>/commons/css/screen.css" media="print"/>


<script type="text/javascript">
var fn_callback = function(trid, bRet, data, loopbackData ) {
	if(bRet) { console.log(trid + "  OK"); } else { alert(data);return;}

	if(trid == "search.jsp") {


	}
	else {
		alert("unHandled TRID=" + trid + ", loopbackData=" + loopbackData);
	}
}


function fn_param_make_table(p /* json param obj list */, selected_id) {
	
	<table>
	
	</table>
}

</script>
</head>
<body>

</body>
</html>

