@charset "UTF-8";

* { box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
	margin: 0; 
}
html, body { width: 100%; height: 100%; }
.fixed-table-container {
           position: relative;
        padding-top: 0; 
        overflow-x: hidden;
        overflow-y: hidden;
}

.fixed-table-container .header-bg {
}

.fixed-table-container .table-wrapper {
        overflow-x: hidden;
        overflow-y: scroll;
            height: calc(100% - 40px);
}
.fixed-table-container  table {
                  width: 100%;
        border-collapse: collapse;
}
.fixed-table-container td {
        border: 1px solid #c0c0c0;
              padding: 3px 5px;
}

.fixed-table-container th {
             height: 30px;
             border: 1px solid #d0d0d0;
         background: 	#778899 ; /* #DAA520 #A9A9A9 skyblue; */
         text-align: center;
           color: white;
}
/*
.fixed-table-container .th-text {
           position: absolute;
                top: 0;
              width: inherit;
        line-height: 30px;  / header-bg height값 /
        border-left: 1px solid #000;
         text-align: center;
}
.fixed-table-container th:first-child .th-text {
        border-left: none;
}
*/

