@charset "UTF-8";

/* ----------------------------------------------------------------------
	x * 31 + 15
	y * 41 + 15
---------------------------------------------------------------------- */
.btn-16 { width: 16px; height: 16px; border:0; }
.btn-20 { width: 20px; height: 20px; border:0; }


.ip1-config {
         background-clip: border-box;
        background-image: url('icons/icons-pack1.png');
       background-repeat: no-repeat;
     background-position: left -140px  top -345px;
                  border: none;
        background-color: transparent;
                  cursor: pointer;
          vertical-align: middle;
         background-size: none;
}

.ip1-pen {
         background-clip: border-box;
        background-image: url('icons/icons-pack1.png');
       background-repeat: no-repeat;
     background-position: left -233px  top -345px;
                  border: none;
        background-color: transparent;
                  cursor: pointer;
          vertical-align: middle;
         background-size: none;
}


.ip1-x {
         background-clip: border-box;
        background-image: url('icons/icons-pack1.png');
       background-repeat: no-repeat;
     background-position: left -140px  top -100px;
                  border: none;
        background-color: transparent;
                  cursor: pointer;
          vertical-align: middle;
         background-size: none;
}

.ip1-talk {
         background-clip: border-box;
        background-image: url('icons/icons-pack1.png');
       background-repeat: no-repeat;
     background-position: left -387px  top -139px;
                  border: none;
        background-color: transparent;
                  cursor: pointer;
          vertical-align: middle;
         background-size: none;
}

/* 7 line */
.ip1-uncheck {
         background-clip: border-box;
        background-image: url('icons/icons-pack1.png');
       background-repeat: no-repeat;
     background-position: left -140px  top -305px;
                  border: none;
        background-color: transparent;
                  cursor: pointer;
          vertical-align: middle;
         background-size: none;
}

.ip1-check {
         background-clip: border-box;
        background-image: url('icons/icons-pack1.png');
       background-repeat: no-repeat;
     background-position: left -109px  top -305px;
                  border: none;
        background-color: transparent;
                  cursor: pointer;
          vertical-align: middle;
         background-size: none;
}


.ip1-circle-black-down {
         background-clip: border-box;
        background-image: url('icons/icons-pack1.png');
       background-repeat: no-repeat;
     background-position: left -232px  top -59px;
                  border: none;
        background-color: transparent;
                  cursor: pointer;
          vertical-align: middle;
         background-size: none;
}

.ip1-circle-black-up {
         background-clip: border-box;
        background-image: url('icons/icons-pack1.png');
       background-repeat: no-repeat;
     background-position: left -201px  top -59px;
                  border: none;
        background-color: transparent;
                  cursor: pointer;
          vertical-align: middle;
         background-size: none;
}

