@charset "utf-8";
/*
@import url( http://fonts.googleapis.com/earlyaccess/nanumgothic.css );
*/
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');


 ul, ol	{list-style:none}

body {margin:0px;
	  font-family: "Nanum Gothic", "맑은고딕", "ngWeb", sans-serif;
}






@media  screen {
   .screenOnly { display: block; }
   .printOnly  { display: none;  }
}

@media print {
   .screenOnly { display: none; }
   .printOnly  { display: block;  }
}






* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
				margin: 0;
font-family: "Nanum Gothic", "맑은고딕", "ngWeb", sans-serif;
    font-size: 12pt;
	vertical-align: middle ;
}


label { font-size: 12pt; }
table { border-spacing: 0; border-collapse: collapse; }

              select { height: 28px; border: 1px solid #cfcfcf; padding: 0 5px 0 5px; color:#111111;  line-height:0; display: inline-block; font-size:12pt;  border-radius: 3px; }
              select::-ms-expand { -webkit-appearance: none; -moz-appearance: none; appearance: none;  border:0; background-color: transparent; }
    input[type=text] { height: 28px; border: 1px solid #cfcfcf; padding: 2px 5px; color:#111111; font-size: 12pt;  line-height:0; border-radius: 3px; }
   input[type=radio] { border:0px;  vertical-align:middle; height: 18px; width: 18px; }
input[type=checkbox] { border:0px; height:15px; vertical-align:middle; height:18px; width: 18px; border-radius: 3px; }
.checkbox{ border:0px; height:15px; vertical-align:middle; border-radius: 3px; }


table th {  color:#111111; text-align:center;   line-height:1.0rem;  font-weight:600; background-color:#eaeaea;}
table.normal th {  color:#111111; text-align:center;   line-height:38px;  font-weight:600; background-color:#eaeaea;}
table.normal td {  	padding: 5px; }

table.type1 th { background-color: #eaeaea; 	border: 1px solid #cccccc; 	height: 38px;  7 color:#111111; text-align:center;  font-weight:600; }
table.type1 > tbody > tr > td { padding: 3px;  }
table.type1 tr {  }

table.type2 th { background-color: #fafafa; 	border: 1px solid #d0d0d0; 	height: 38px; }
table.type2 td { }
table.type2 tr { border-bottom: 1px solid #d0d0d0; }

table.type3 > tbody > tr > td { padding: 3px;  }





img{outline:none;}


a { outline:none;  color: inherit; }
A:link    {color : #111111;   text-decoration:none;}
A:visited {color : #111111;   text-decoration:none;}
A:active  {color : #111111;   text-decoration:none;}
A:hover   {color : #ff5300;   text-decoration:none;}


.menu A:link    {color : #ffffff; font-size: 12pt ; font-weight:600; width:120px; line-height: 130%; Letter-spacing:0px; text-decoration:none;}
.menu A:visited {color : #ffffff; font-size: 12pt ; font-weight:600; width:120px; line-height: 130%; Letter-spacing:0px; text-decoration:none;}
.menu A:active  {color : #ffffff; font-size: 12pt ; font-weight:600; width:120px; line-height: 130%; Letter-spacing:0px; text-decoration:none;}
.menu A:hover   {color : #fff200; font-size: 12pt ; font-weight:600; width:120px; line-height: 130%; Letter-spacing:0px; text-decoration:none;}


.logout A:link    {color : #ffffff; font-size:14px ;  font-weight:600; line-height:130%; Letter-spacing:0.5px; text-decoration:none;}
.logout A:visited {color : #ffffff; font-size:14px ;  font-weight:600; line-height:130%; Letter-spacing:0.5px; text-decoration:none;}
.logout A:active  {color : #ffffff; font-size:14px ;  font-weight:600; line-height:130%; Letter-spacing:0.5px; text-decoration:none;}
.logout A:hover   {color : #fb5607; font-size:14px ;  font-weight:600; line-height:130%; Letter-spacing:0.5px; text-decoration:none;}




.list_title A:link    {color : #003296; font-size: 13px ; font-weight:600; text-decoration:none;}
.list_title A:visited {color : #003296; font-size: 13px ; font-weight:600; text-decoration:none;}
.list_title A:active  {color : #003296; font-size: 13px ; font-weight:600; text-decoration:none;}
.list_title A:hover   {color : #003296; font-size: 13px ; font-weight:600; text-decoration: underline;}


.program_p A:link    {color : #777777; font-size:  ;  text-decoration:underline;}
.program_p A:visited {color : #777777; font-size:  ;  text-decoration:underline;}
.program_p A:active  {color : #777777; font-size:  ;  text-decoration:underline;}
.program_p A:hover   {color : #ff5300; font-size:  ;  text-decoration:underline;}





/* 스크롤*/
BODY {
	SCROLLBAR-FACE-COLOR: #ffffff; 
	SCROLLBAR-HIGHLIGHT-COLOR: #aaaaaa; 
	SCROLLBAR-SHADOW-COLOR: #aaaaaa; 
	SCROLLBAR-3DLIGHT-COLOR: #ffffff; 
	SCROLLBAR-ARROW-COLOR: #aaaaaa; 
	SCROLLBAR-TRACK-COLOR: #eeeeee; 
	SCROLLBAR-DARKSHADOW-COLOR: #ffffff
}

/* Main Page styles*/





/* TD { font-size: 12px; color:#707070; font-family:mgeot, Dotum, Arial, Helvetica; line-height: 150%; } */
TD {  /*text-align:left;*/ color:#111111; font-family: "Nanum Gothic", "맑은고딕", "ngWeb", sans-serif; line-height: 130%; }
div { font-family: "Nanum Gothic", "맑은고딕", "ngWeb", sans-serif; font-style: normal}

.bg {background:url(/images/main_bg_01.jpg); background-repeat : no-repeat; background-position : left top;}
.sbg {background:url(/images/sub_contents_bg.jpg); background-repeat : no-repeat; background-position : left top;}

.input_box {font-size: 11px; font-family: "Nanum Gothic", "맑은고딕", "ngWeb", sans-serif; border-width:1px; border-style:solid; border-color:#b2b2b2;  color:#888888; background:#f8fafd; height:18PX;}
textarea {
	font-size: 12px; 
	   border: 1px solid #e1e1e1;
border-radius: 3px; 
	    color: #111111; 
   overflow-y: auto; 
      padding: 5px; 
}



/* main-login */

.main_title_01{font-size: 42px; color:#003296; font-weight:600; }
.login_title_01{ font-size: 26px;  color:#111111; line-height: 130%; font-weight:600;}

.login_bg{background:url("/img/main/bg_body.jpg") repeat;}

.login_outline{ width:100%; text-align:center; display:table;
               background-color:#ffffff;
               border-radius: 12px;
               border:5px; border-color:#72b5f1; border-style:solid;
			   padding:100px;
			   margin:auto;
               }

.login_btn_01 {
		position: relative;
		display: inline-block;
		border-radius: 0.3em;
		color: #ffffff !important;
		font-size:16px;
		font-weight:600;
		text-decoration: none;
		text-align:center;
		padding: 0.1em 0.1em 0.1em 0.1em;
		background-color: #348fe2;
		
		width:290px;
		height:;
		line-height:45px;
		text-align:center;
		cursor: pointer;

	}


.logo_title{ font-size:20px; color:#d3d3d3; font-weight:600; }
.login_text_t{ font-size:15px; color:#111111; font-weight:600; }
.top_tr{ border-top:1px; border-top-color:#5c5f68; border-top-style:solid; background-color:#494b50;}


.text_filed_p{height:32px; border:1px; border-color:#cfcfcf; border-style:solid;}
.text_filed_c{ height:28px; border:1px; border-color:#cfcfcf; border-style:solid;   color:#111111; }
.text_filed_c02{ width:100%; height:28px; border:1px; border-color:#cfcfcf; border-style:solid;   color:#111111; }
.text_filed_c03{ width:100%; height:28px; border:1px; border-color:#cfcfcf; border-style:solid;   color:#111111; }

.textarea_w_h{ width:100%;height:120px; border:1px; border-color:#eaeaea; border-style:solid; padding:8px; color:#111111; }
.textarea_w_h02{ width:100%;height:80px; border:1px; border-color:#eaeaea; border-style:solid; padding:8px; color:#777777;  }


.pic_radius{border-radius:5px 5px 5px 5px; padding:6px; border:1px; border-style:solid; background-color:#ffffff; border-color:#dedede; color:#111111; font-size:13px;}


.sub_title_h{ height:28px;}
.sub_title_h02{ height:25px;}
.sub_title_h03{ height:10px;}
.sub_title_text{color:#111111; font-size: 15px;}
.sub_title_bar_p{color:#999999; padding-left:6px; padding-right:6px;}




.admin_office_lineheight{ line-height:20px; }
.admin_site_radius{ height:; border-radius: 15px; border:5px; border-style:solid; border-color:#ebebeb; padding:50px; background-color:#ffffff;  }
.admin_site_text01{font-size: 24px;  color:#111111; line-height:40px;  font-weight:600; }
.admin_site_text02{font-size: 30px;  color:#348fe2; line-height:40px;  font-weight:600; }





.Tabmenu_b_h{ height:30px;}

.Tabmenu_btn {
		position: relative;
		display: inline-block;
		background-color:#9f9f9f;
		border-radius: 0.15em; border:1px; border-color:#111111; border-style:solid;
		color: #ffffff !important;
		font-size:12pt;
		font-weight:600;
		text-decoration: none;
		text-align:center;
		padding: 0.1em 0.1em 0.1em 0.1em;
		width:100%;
		line-height:36px;
		cursor: pointer;
		-moz-transition: background-color 0.35s ease-in-out;
		-webkit-transition: background-color 0.35s ease-in-out;
		-ms-transition: background-color 0.35s ease-in-out;
		transition: background-color 0.35s ease-in-out;
	}

		
.Tabmenu_btn:hover {
		position: relative;
		display: inline-block;
		background-color:#111111;
		border-radius: 0.15em; border:1px; border-color:#111111; border-style:solid;		
		color: #ffffff !important;
		font-size:12pt;
		font-weight:600;
		text-decoration: none;
		text-align:center;
		padding: 0.1em 0.1em 0.1em 0.1em;
		width:100%;
		line-height:36px;
		cursor: pointer;
		-moz-transition: background-color 0.35s ease-in-out;
		-webkit-transition: background-color 0.35s ease-in-out;
		-ms-transition: background-color 0.35s ease-in-out;
		transition: background-color 0.35s ease-in-out;
		
		}



.Tabmenu_btn_over {
		position: relative;
		display: inline-block;
		background-color:#f26522;
		border-radius: 0.15em; border:1px; border-color:#dd4205; border-style:solid;		
		color: #ffffff  !important;
		font-size:12pt;
		font-weight:600;
		text-decoration: none;
		text-align:center;
		padding: 0.1em 0.1em 0.1em 0.1em;
		width:100%;
		line-height:36px;
		cursor: pointer;
		-moz-transition: background-color 0.35s ease-in-out;
		-webkit-transition: background-color 0.35s ease-in-out;
		-ms-transition: background-color 0.35s ease-in-out;
		transition: background-color 0.35s ease-in-out;
		
		}





.add_btn {
		position: relative;
		display: inline-block;
		border-radius: 3px;
		border:1px; border-color:#dadada; border-style:solid;
		color: #111111;
		font-size:11pt;
		text-decoration: none;
		text-align:center;
		padding: 0.1em 0.1em 0.1em 0.1em;
		background-color: #fefefe;
		letter-spacing:;
		margin-left:2px; margin-right:2px;
		width:120px;
		height:;
		line-height:24px;
		cursor: pointer;

	}




.write_s_btn_01 {
		position: relative;
		display: inline-block;
		border-radius: 0.2em;
		color: #ffffff !important; 
		font-size:15px;
		text-decoration: none;
		text-align:center;
		padding: 0.4em 1em 0.4em 1em;
		background-color: #348fe2;
		
		min-width:100px;
		height:;
		line-height:26px;
		text-align:center;
		cursor: pointer;
		-moz-transition: background-color 0.35s ease-in-out;
		-webkit-transition: background-color 0.35s ease-in-out;
		-ms-transition: background-color 0.35s ease-in-out;
		transition: background-color 0.35s ease-in-out;
	}

		
.write_s_btn_01:hover {
		position: relative;
		display: inline-block;
		border-radius: 0.2em;
		color: #ffffff;
		font-size:15px;
		text-decoration: none;
		text-align:center;
		padding: 0.4em 1em 0.4em 1em;
		background-color: #aacd06;
		
		min-width:100px;
		height:;
		line-height:26px;
		text-align:center;
		cursor: pointer;
		
		}





.write_s_btn_02 {
		position: relative;
		display: inline-block;
		border-radius: 0.2em;
		color: #ffffff !important;
		font-size:13.5px;
		text-decoration: none;
		text-align:center;
		padding: 0.4em 1em 0.4em 1em;
		background-color: #348fe2;
		
		min-width:70px;
		height:;
		letter-spacing:-1px;
		line-height:24px;
		text-align:center;
		cursor: pointer;
		-moz-transition: background-color 0.35s ease-in-out;
		-webkit-transition: background-color 0.35s ease-in-out;
		-ms-transition: background-color 0.35s ease-in-out;
		transition: background-color 0.35s ease-in-out;
	}

		
.write_s_btn_02:hover {
		position: relative;
		display: inline-block;
		border-radius: 0.2em;
		color: #ffffff !important;
		font-size:12pt;
		text-decoration: none;
		text-align:center;
		padding: 0.4em 1em 0.4em 1em;
		background-color: #aacd06;
		
		min-width:70px;
		letter-spacing:-1px;
		height:;
		line-height:24px;
		text-align:center;
		cursor: pointer;
		
		}







.search_b {
		position: relative;
		display: inline-block;
		border-radius: 0.2em;
		color: #ffffff !important;
		
		text-decoration: none;
		text-align:center;
		padding: 0.4em 1em 0.4em 1em;
		background-color: #348fe2;
		
		min-width:60px;
		height:;
		line-height:20px;
		text-align:center;
		cursor: pointer;
		-moz-transition: background-color 0.35s ease-in-out;
		-webkit-transition: background-color 0.35s ease-in-out;
		-ms-transition: background-color 0.35s ease-in-out;
		transition: background-color 0.35s ease-in-out;
	}

		
.search_b:hover {
		position: relative;
		display: inline-block;
		border-radius: 0.2em;
		color: #ffffff !important;
		
		text-decoration: none;
		text-align:center;
		padding: 0.4em 1em 0.4em 1em;
		background-color: #aacd06;
		
		min-width:60px;
		height:;
		line-height:20px;
		text-align:center;
		cursor: pointer;
		
		}




.search_b02 {
		position: relative;
		display: inline-block;
		border-radius: 0.2em;
		color: #ffffff !important;
		font-size:13px;
		text-decoration: none;
		text-align:center;
		padding: 0.4em 1em 0.4em 1em;
		background-color: #aeaeae;
		
		min-width:50px;
		height:;
		line-height:20px;
		text-align:center;
		cursor: pointer;
		-moz-transition: background-color 0.35s ease-in-out;
		-webkit-transition: background-color 0.35s ease-in-out;
		-ms-transition: background-color 0.35s ease-in-out;
		transition: background-color 0.35s ease-in-out;
	}


.search_b022 {
		position: relative;
		display: inline-block;
		border-radius: 0.2em;
		color: #ffffff !important;
		font-size:13px;
		text-decoration: none;
		text-align:center;
		padding: 0.4em 1em 0.4em 1em;
		background-color: #aeaeae;
		
		min-width:80px;
		height:;
		line-height:20px;
		text-align:center;
		cursor: pointer;
		-moz-transition: background-color 0.35s ease-in-out;
		-webkit-transition: background-color 0.35s ease-in-out;
		-ms-transition: background-color 0.35s ease-in-out;
		transition: background-color 0.35s ease-in-out;
	}



.search_b03 {
		position: relative;
		display: inline-block;
		border-radius: 0.2em;
		color: #ffffff !important;
		font-size:13px;
		text-decoration: none;
		text-align:center;
		padding: 0.4em 0.4em 0.4em 0.4em;
		background-color: #aeaeae;
		
		min-width:35px;
		height:;
		line-height:18px;
		text-align:center;
		cursor: pointer;
		-moz-transition: background-color 0.35s ease-in-out;
		-webkit-transition: background-color 0.35s ease-in-out;
		-ms-transition: background-color 0.35s ease-in-out;
		transition: background-color 0.35s ease-in-out;
	}




.plus_01 {
		position: relative;
		display: inline-block;
		border-radius: 0.2em;
		color: #111111; 
		
		text-decoration: none;
		text-align:center;
		padding: 0.4em 1em 0.4em 1em;
		background-color: #fcfcfc;
		border:1px; border-style:solid; border-color:#d9d9d9;
		
		min-width:80px;
		height:;
		font-weight:600;
		line-height:28px;
		text-align:center;
		cursor: pointer;
		-moz-transition: background-color 0.35s ease-in-out;
		-webkit-transition: background-color 0.35s ease-in-out;
		-ms-transition: background-color 0.35s ease-in-out;
		transition: background-color 0.35s ease-in-out;
	}




.plus_02 {
		position: relative;
		display: inline-block;
		border-radius: 0.2em;
		color: #111111;
		font-size:17px;
		text-decoration: none;
		text-align:center;
		padding: 0.4em 0.6em 0.4em 0.6em;
		margin:6px;
		background-color: #ffffff;
		border:1px; border-style:solid; border-color:#d9d9d9;
		
		min-width:20px;
		height:68px;
		font-weight:600;
		line-height:68px;
		text-align:center;
		cursor: pointer;
		-moz-transition: background-color 0.35s ease-in-out;
		-webkit-transition: background-color 0.35s ease-in-out;
		-ms-transition: background-color 0.35s ease-in-out;
		transition: background-color 0.35s ease-in-out;
	}



/* del_b , btnDel 버튼은 같은 것이다. */
.del_b { 
	               width: 20px;
	              height: 20px;
	             padding: 0;
			  margin-top: ;
        background-image: url('icons/btnDel.png'); 
       background-repeat: no-repeat; 
         background-size: 24px 24px; 
     background-position: center;
                  border: none;
        background-color: transparent;
		          cursor: pointer;
				  vertical-align:middle;
}



.btnDel { 
	               width: 20px;
	              height: 20px;
	             padding: 0;
			  margin-top: ;
        background-image: url('icons/btnDel.png'); 
       background-repeat: no-repeat; 
         background-size: contain;
     background-position: center;
                  border: none;
        background-color: transparent;
		          cursor: pointer;
				  vertical-align:middle;
}

.btnDel-small { 
	               width: 20px;
	              height: 20px;
	             padding: 0;
			  margin-top: ;
        background-image: url('icons/btnDel.png'); 
       background-repeat: no-repeat; 
         background-size: contain;
     background-position: center;
                  border: none;
        background-color: transparent;
		          cursor: pointer;
		  vertical-align: middle;
}


.add_b { 
	               width: 28px;
	              height: 28px;
	             padding: 0;
			  margin-top: ;
        background-image: url('icons/addbtn.png'); 
       background-repeat: no-repeat; 
         background-size: contain;
     background-position: center;
                  border: none;
        background-color: transparent;
		          cursor: pointer;
				  vertical-align:middle;
}



/*
.del_b, btnDel {
		position: relative;
		display: inline-block;
		border-radius: 0.2em;
		color: #ffffff;
		font-size:15px;
		font-weight:600;
		text-decoration: none;
		text-align:center;
		padding: 0.33em 0.6em 0.33em 0.6em;
		background-color: #e98250;
		
		width:15px;
		height:;
		line-height:13px;
		text-align:center;
		letter-spacing:-1px;
		cursor: pointer;
		-moz-transition: background-color 0.35s ease-in-out;
		-webkit-transition: background-color 0.35s ease-in-out;
		-ms-transition: background-color 0.35s ease-in-out;
		transition: background-color 0.35s ease-in-out;
	}

*/		

.del_b02 {
		position: relative;
		display: inline-block;
		border-radius: 0.2em;
		color: #111111;
		font-size:12px;
		text-decoration: none;
		text-align:center;
		padding: 0.2em 0.2em 0.2em 0.2em;
		background-color: #FFFFFF;
		border:1px; border-style:solid; border-color:#d9d9d9;
		margin:5px;
		
		width:15px;
		height:;
		font-weight:600;
		line-height:16px;
		text-align:center;
		cursor: pointer;
		-moz-transition: background-color 0.35s ease-in-out;
		-webkit-transition: background-color 0.35s ease-in-out;
		-ms-transition: background-color 0.35s ease-in-out;
		transition: background-color 0.35s ease-in-out;
	}




.del_d {
		position: relative;
		display: inline-block;
		border-radius: 0.2em;
		color: #111111;
		font-size:17px;
		font-weight:600;
		text-decoration: none;
		text-align:center;
		padding: 0.35em 0.6em 0.35em 0.6em;
		background-color: #fcfcfc;
		border:1px; border-style:solid; border-color:#d9d9d9;
		
		width:30px;
		height:;
		line-height:18px;
		text-align:center;
		letter-spacing:-1px;
		cursor: pointer;
		-moz-transition: background-color 0.35s ease-in-out;
		-webkit-transition: background-color 0.35s ease-in-out;
		-ms-transition: background-color 0.35s ease-in-out;
		transition: background-color 0.35s ease-in-out;
	}




.ad_btn_01 {
		position: relative;
		display: inline-block;
		border-radius: 3px;
		color: #ffffff !important;
		font-size:13px;
		text-decoration: none;
		text-align:center;
		padding: 0.1em 0.1em 0.1em 0.1em;
		background-color: #348fe2;
		letter-spacing:-1px;
		width:95%;
		margin:;
		height:;
		line-height:26px;
		cursor: pointer;

	}




.ad_btn_02 {
		position: relative;
		display: inline-block;
		border-radius: 3px;
		color: #ffffff !important;
		font-size:13px;
		text-decoration: none;
		text-align:center;
		padding: 0.1em 0.1em 0.1em 0.1em;
		background-color: #348fe2;
		letter-spacing:-1px;
		width:90%;
		margin:;
		height:;
		line-height:26px;
		cursor: pointer;

	}










.button {
		position: relative;
		display: inline-block;
		/* border-radius: 0.2em; */
		color: #ffffff !important;
		font-size:16px;
		font-weight:;
		text-decoration: none;
		text-align:center;
		padding: 1.1em 0.1em 0.1em 0.1em;
		background-color:;
		width:100%;
		height:32px;
		line-height:;
		cursor: pointer;
		-moz-transition: background-color 0.35s ease-in-out;
		-webkit-transition: background-color 0.35s ease-in-out;
		-ms-transition: background-color 0.35s ease-in-out;
		transition: background-color 0.35s ease-in-out;
	}

		
.button:hover {
		position: relative;
		display: inline-block;
		color: #ffffff !important;
		font-size:16px;
		font-weight:;
		text-decoration: none;
		text-align:center;
		padding: 1.1em 0.1em 0.1em 0.1em;
		background-color: #6e6e6e;
		width:100%;
		height:32px;
		line-height:;
		cursor: pointer;
		-moz-transition: background-color 0.35s ease-in-out;
		-webkit-transition: background-color 0.35s ease-in-out;
		-ms-transition: background-color 0.35s ease-in-out;
		transition: background-color 0.35s ease-in-out;
		
		}



.button_over {
		position: relative;
		display: inline-block;
		color: #ffffff !important;
		font-size:16px;
		font-weight:;
		text-decoration: none;
		text-align:center;
		padding: 1.1em 0.1em 0.1em 0.1em;
		background-color: #ff3300;
		width:100%;
		height:32px;
		line-height:;
		cursor: pointer;
		-moz-transition: background-color 0.35s ease-in-out;
		-webkit-transition: background-color 0.35s ease-in-out;
		-ms-transition: background-color 0.35s ease-in-out;
		transition: background-color 0.35s ease-in-out;
		
		}




.button_01 {
		position: relative;
		display: inline-block;
		border-radius: 0.1em;
		color: #ffffff !important;
		
		text-decoration: none;
		text-align:center;
		padding: 0.1em 0.1em 0.1em 0.1em;
		background-color: #348fe2;
		
		width:100%;
		height:;
		line-height:28px;
		text-align:center;
		cursor: pointer;

	}




.button_02 {
		position: relative;
		display: inline-block;
		border-radius: 0.1em;
		color: #777777 !important;
		
		text-decoration: none;
		text-align:center;
		padding: 0.1em 0.1em 0.1em 0.1em;
		background-color: #ffffff;
		border:1px; border-style:solid; border-color:#cecece;
		
		width:100%;
		height:;
		line-height:26px;
		text-align:center;
		cursor: pointer;
		
		-moz-transition: background-color 0.35s ease-in-out;
		-webkit-transition: background-color 0.35s ease-in-out;
		-ms-transition: background-color 0.35s ease-in-out;
		transition: background-color 0.35s ease-in-out;

	}
	
	
	
.button_02:hover {
		position: relative;
		display: inline-block;
		border-radius: 0.1em;
		color: #111111 !important;
		
		text-decoration: none;
		text-align:center;
		padding: 0.1em 0.1em 0.1em 0.1em;
		background-color: #ffffff;
		border:1px; border-style:solid; border-color:#cecece;
		background-color:#cecece;
		
		width:100%;
		height:;
		line-height:26px;
		text-align:center;
		cursor: pointer;
		
		-moz-transition: background-color 0.35s ease-in-out;
		-webkit-transition: background-color 0.35s ease-in-out;
		-ms-transition: background-color 0.35s ease-in-out;
		transition: background-color 0.35s ease-in-out;

	}	

.button_03 {
		position: relative;
		display: inline-block;
		border-radius: 0.1em;
		color: #ff3300 !important;
		
		text-decoration: none;
		text-align:center;
		padding: 0.1em 0.1em 0.1em 0.1em;
		background-color: #ffffff;
		border:1px; border-style:solid; border-color:#ff3300;
		
		width:100%;
		height:;
		line-height:26px;
		text-align:center;
		cursor: pointer;

	}



.button_04 {
		position: relative;
		display: inline-block;
		border-radius: 0.2em;
		color: #ffffff !important;
		font-size:18px;
		text-decoration: none;
		text-align:center;
		padding: 0.4em 3em 0.4em 3em;
		background-color: #348fe2;
		
		min-width:100px;
		height:;
		line-height:32px;
		text-align:center;
		cursor: pointer;
		-moz-transition: background-color 0.35s ease-in-out;
		-webkit-transition: background-color 0.35s ease-in-out;
		-ms-transition: background-color 0.35s ease-in-out;
		transition: background-color 0.35s ease-in-out;
	}

		
.button_04:hover {
		position: relative;
		display: inline-block;
		border-radius: 0.2em;
		color: #ffffff !important;
		font-size:18px;
		text-decoration: none;
		text-align:center;
		padding: 0.4em 3em 0.4em 3em;
		background-color: #aacd06;
		
		min-width:100px;
		height:;
		line-height:32px;
		text-align:center;
		cursor: pointer;
		
		}






.button_05 {
		position: relative;
		display: inline-block;
		border-radius: 0.2em;
		color: #ffffff !important;
		font-size:20px;
		font-weight:60;
		text-decoration: none;
		text-align:center;
		padding: 0.1em 0.1em 0.1em 0.1em;
		background-color:#0086e4;
		width:100%;
		height:;
		line-height:62px;
		cursor: pointer;
		-moz-transition: background-color 0.35s ease-in-out;
		-webkit-transition: background-color 0.35s ease-in-out;
		-ms-transition: background-color 0.35s ease-in-out;
		transition: background-color 0.35s ease-in-out;
	}

		
.button_05:hover {
		position: relative;
		display: inline-block;
		border-radius: 0.2em;
		color: #ffffff !important;
		font-size:20px;
		font-weight:60;
		text-decoration: none;
		text-align:center;
		padding: 0.1em 0.1em 0.1em 0.1em;
		background-color: #f25f19;
		width:100%;
		height:;
		line-height:62px;
		cursor: pointer;
		-moz-transition: background-color 0.35s ease-in-out;
		-webkit-transition: background-color 0.35s ease-in-out;
		-ms-transition: background-color 0.35s ease-in-out;
		transition: background-color 0.35s ease-in-out;
		
		}




.top_menu_sub {
		position: relative;
		display: inline-block;
		
		color: #111111;
		font-size:13px;
		font-weight:;
		text-decoration: none;
		text-align:center;
		line-height:25px;
		cursor: pointer;
		-moz-transition: background-color 0.35s ease-in-out;
		-webkit-transition: background-color 0.35s ease-in-out;
		-ms-transition: background-color 0.35s ease-in-out;
		transition: background-color 0.35s ease-in-out;
	}

		
.top_menu_sub:hover {
		position: relative;
		display: inline-block;
		border-radius: 0.2em;
		color: #ef4f03;
		font-size:13px;
		font-weight:;
		text-decoration: none;
		text-align:center;
		line-height:25px;
		cursor: pointer;
		-moz-transition: background-color 0.35s ease-in-out;
		-webkit-transition: background-color 0.35s ease-in-out;
		-ms-transition: background-color 0.35s ease-in-out;
		transition: background-color 0.35s ease-in-out;
		
		}


.top_menu_sub_over {
		position: relative;
		display: inline-block;
		border-radius: 0.2em;
		color: #ef4f03;
		font-size:13px;
		font-weight:;
		text-decoration: none;
		text-align:center;
		line-height:25px;
		cursor: pointer;
		-moz-transition: background-color 0.35s ease-in-out;
		-webkit-transition: background-color 0.35s ease-in-out;
		-ms-transition: background-color 0.35s ease-in-out;
		transition: background-color 0.35s ease-in-out;
		
		}



.info_btn_03 {
		position: relative;
		display: inline-block;
		border-radius: 3px;
		color: #ffffff;
		
		text-decoration: none;
		text-align:center;
		padding: 0.1em 0.1em 0.1em 0.1em;
		background-color: #348fe2;
		margin-left:2px;
		margin-right:2px;
		margin-top:7px;
		width:120px;
		height:;
		line-height:26px;
		cursor: pointer;

	}	




.down_btn_01 {
		position: relative;
		display: inline-block;
		border-radius: 3px;
		color: #ffffff;
		font-size:12px;
		text-decoration: none;
		text-align:center;
		padding: 0.1em 0.1em 0.1em 0.1em;
		background-color: #348fe2;
		letter-spacing:-1px;
		width:80%;
		height:;
		line-height:26px;
		cursor: pointer;

	}	



.top_menu_sub_table{ height:35px; background-color:#f4f4f4; border-bottom:1px; border-bottom-color:#cdcdcd; border-bottom-style:solid;}
.board_td_pad_left{ padding-left:15px;}
.board_td_pad_faq{ padding-left:15px; padding-bottom:20px; padding-top:20px; padding-right:20px; font-size:13px; color:#111111; line-height:20px;}
.gallery_title_01{ font-size:13px; color:#111111; line-height:22px; font-weight:600;}
.info_data_youtube{ width:80%; height:460px;}
.info_link_img{ margin-right:6px;}





.menu_td_left{ border-left:1px; border-left-color:#6e6e6e; border-left-style:solid; }
.menu_td_right{ border-right:1px; border-right-color:#6e6e6e; border-right-style:solid;}


.sub_title{font-size: 22px;  color:#111111;    line-height:46px;  font-weight:600; border-bottom:2px; border-bottom-color:#111111; border-bottom-style:solid; }
.sub_title_w{ width:350px; }
.sub_btn_w{ width:150px; }
.sub_title_02{  color:#348fe2;    line-height:46px;  font-weight:;}
.sub_title_03{font-size: 15px;  color:#111111;    line-height:38px;  font-weight:600;}



.td_div { width:1200px; height: 197px; margin-top:; padding:; display: block; text-align:center; overflow-y:scroll; overflow-x:hidden; /* border:1px; border-style:solid; border-color:#bebebe; */}

.table_line_03{ border-bottom:1px; border-bottom-color:#1c73dd; border-bottom-style:solid;}
.table_line_02{ border-top:2px; border-top-color:#1c73dd; border-top-style:solid;}
.table_line{ border:1px; border-style:solid; border-color:#cccccc;}
.td_title{  color:#111111; text-align:center;   line-height:38px;  font-weight:600; background-color:#eaeaea; }	
.td_title02{  color:#111111; text-align:center;   line-height:38px;  font-weight:600; background-color:#f4f4f4; }	
.td_text{  color:#111111; font-weight:; }
.td_text02{  color:#111111; font-weight:; text-align:center; line-height:38px; vertical-align:middle;}
.td_text022{  color:#111111; font-weight:; text-align:left; line-height:38px; vertical-align:middle; padding-left:10px;}
.td_text03{  color:#111111; font-weight:; text-align:center; line-height:20px; height:38px; padding-top:5px; padding-bottom:5px; }
.td_pad_left{ padding-left:10px}


.tr_line{ border-bottom:1px; border-bottom-color:#bebebe; border-bottom-style:solid; }

.bord_title {font-size:16px; font-weight:600; color:#111111; background-color:#d6d6d6; line-height:48px; }
.bord_view_title {font-size:16px; font-weight:; color:#111111; line-height:; text-align:left; padding:20px;}
.bord_view_text {font-size:13px; font-weight:; color:#777777; line-height:26px; text-align:left;  padding-left:15px;}
.bord_view_con_text { font-weight:; color:#111111; line-height:26px; text-align:left; vertical-align:top; padding:35px;}
.bord_view_date {font-size:13px; font-weight:; color:#111111; text-align:center; padding:20px;}

.gallery_title {font-size:16px; font-weight:600; color:#111111; line-height:35px; }
.gallery_date { font-weight:; color:#777777; }

.paging_no{  font-weight:400;}




/* B */
#widget {
	width: 100%; z-index:900; }

.info_search_box { width:1200px; padding:; margin-top:10px; margin-bottom:20px; display:table; text-align:center; border:1px; border-style:solid; border-color:#cfcfcf; border-radius: 6px; background-color:#fcfcfc;}

.mok_01_td_01{text-align:center; padding:5px; margin-top:6px; margin-bottom:6px; background-color:#348fe2;  text-align:center;  width:110px; height:85px;  vertical-align:middle;}
.mok_01_div_02{width:150px; height:83px; padding:5px;  margin:6px; display:table; text-align:center; border:1px; border-style:solid; border-color:#cfcfcf; border-radius: 0.3em; background-color:#fcfcfc; float:left;}

.mok_01_td_txt{ line-height:20px;  font-weight:600; color:#ffffff; text-align:center;  }
.mok_01_td_txt02{  font-weight:600; color:#111111; line-height:26px; }
.mok_01_table_m{ margin-bottom:10px; }
.mok_01_table_m02{ margin-top:6px; }

.b_stitle{ font-size:16px; font-weight:600; color:#111111; line-height:25px;}


/* C */
.c_td_title{  color:#111111; text-align:center;   line-height:38px;  font-weight:600; background-color:; text-align:right; }	
.c_td_text{  color:#111111; font-weight:; text-align:left; padding-left:;}



/* D */

.d_table_m{ margin-bottom:20px;}
.d_td_p{ padding:20px; }
.d_02_td_01{ font-weight:600; color:#ffffff; text-align:center; padding:5px;  background-color:#348fe2;  text-align:center;  width:110px; height:85px;  vertical-align:middle;}
.d_02_td_02{  color:#111111; line-height:20px; padding:10px; text-align:left;}
.d_table_m02{ margin-bottom:20px;}


/* G */
.td_title_green{  color:#111111; text-align:center;   line-height:38px;  font-weight:600; background-color:#efffe5; }
.td_title_blue{  color:#111111; text-align:center;   line-height:38px;  font-weight:600; background-color:#e0eafb; }
.g_td_text_01{font-size: 15px;  color:#111111; text-align:center;   line-height:20px;  font-weight:600; padding:5px; }
.g_td_text_02{  color:#111111; text-align:center; line-height:20px;  padding:5px;   }

/* G  증명서 */
.g_table_line{ border: 1px solid black; }
.g_td_title_01{font-size: 45px;  color: black; font-weight:600; text-align:center; letter-spacing:20px;}
.g_td_title_02{font-size: 17px;  color: black; text-align:center; font-weight:600; background-color:#eeeeee; }
.g_td_text_03{font-size: 18px;  color: black; text-align:center; font-weight:600; letter-spacing:10px;}
.g_td_text_04{font-size: 17px;  color: black; text-align:center; font-weight:600; }
.g_td_text_05{font-size: 17px;  color: black; text-align:left; font-weight:600; padding-left:20px; }

.g_td_text_bottom_01{font-size: 20px;  color:#111111; text-align:center; font-weight:; }
.g_td_text_bottom_02{font-size: 24px;  color:#111111; text-align:center; font-weight:600; }

.g02_td_title_01{font-size: 62px;  color:#111111; font-weight:600; text-align:center; letter-spacing:25px;}
.g02_td_text_03{font-size: 20px;  color:#111111; text-align:left; font-weight:600;}
.g02_td_text_04{font-size: 20px;  color:#111111; text-align:left; font-weight:600; }
.g02_td_text_044{ letter-spacing:5px; }
.g02_td_text_05{font-size: 42px;  color:#111111; text-align:center; font-weight:600; letter-spacing:5px; line-height:82px; }
.g02_td_text_bottom_01{font-size: 24px;  color:#111111; text-align:right; font-weight:; }
.g02_td_text_bottom_02{font-size: 26px;  color:#111111; text-align:left; font-weight:600; }
.g02_td_text_bottom_03{font-size: 22px;  color:#111111; text-align:left; font-weight:600; }










/* 팝업 레이어 */

.rootlayer{position: fixed; left:0; top:0; right:0; bottom:0;  z-index:9999; ;}

.popupLayer {position:absolute; left:0; top:0; width:100%; height:100%; z-index:100; -ms-filter: alpha(opacity=50); filter: alpha(opacity=50); opacity:0.5; -moz-opacity:0.5;}
.popupLayer .back {position:absolute; left:0; top:0; width:100%; height:100%; background:#000; z-index:101;}
.popup_box {position:absolute; left:36%; top:42%; width:1000px; height:430px; margin-left:-250px; margin-top:-250px; z-index:102; background:#fff; border-radius: 0.25em;}
.popup_box .popup_contents {position:absolute; left:0; top:0; width:100%; height:100%; text-align:center; z-index:102; border-radius: 0.25em; box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.6), 0 5px 5px 0 rgba(0, 0, 0, 0.64);}
.popup_box02 {position:absolute; left:36%; top:42%; width:1000px; height:480px; margin-left:-250px; margin-top:-250px; z-index:102; background:#fff; border-radius: 0.25em;}
.popup_box02 .popup_contents {position:absolute; left:0; top:0; width:100%; height:100%; text-align:center; z-index:102; border-radius: 0.25em; box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.6), 0 5px 5px 0 rgba(0, 0, 0, 0.64);}
.popup_box03 {position:absolute; left:28%; top:52%; width:1000px; height:480px; margin-left:-250px; margin-top:-250px; z-index:102; background:#fff; border-radius: 0.25em;}
.popup_box03 .popup_contents {position:absolute; left:0; top:0; width:100%; height:100%; text-align:center; z-index:102; border-radius: 0.25em; box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.6), 0 5px 5px 0 rgba(0, 0, 0, 0.64);}
.popupLayer iframe, .popup_box iframe {position:absolute; left:0; top:0; width:; height:100%;}
		
.popup_text{ position: relative; display: inline-block;  z-index: 1;  background: ; width:90%; padding:30px; height:55%;  font-weight:; color:#111111; line-height:20px; text-align:center;
           border-bottom:1px; border-bottom-style:solid; border-bottom-color:#cea8b4; margin-bottom:20px;}
		   
.popup_text_02{ position: relative; display: inline-block;  z-index: 1;  background: ; width:90%; padding:30px; height:45%; font-size:16px; font-weight:600; color:#111111; line-height:20px; text-align:center;
           border-bottom:1px; border-bottom-style:solid; border-bottom-color:#cea8b4; margin-bottom:20px; margin-top:70px;}	
		   


.popup_button {text-transform:uppercase; text-align:center; display:inline-block; margin:0 0 10px 0; outline:0; background:#d36288; width:26%; border:0; padding:5px; color:#FFFFFF; font-size:15px; line-height:28px; 
                 -webkit-transition: all 0.3 ease;  transition: all 0.3 ease;  cursor: pointer;}


/* 팝업 레이어 */






.search_box { width:900PX; padding:20px; display:table; text-align:center; border:1px; border-style:solid; border-color:#cfcfcf; border-radius: 5px; background-color:#fcfcfc;}
.search_btn_01 {
		position: relative;
		display: inline-block;
		border-radius: 3px;
		color: #ffffff;
		font-size:15px;
		text-decoration: none;
		text-align:center;
		padding: 0.1em 0.1em 0.1em 0.1em;
		background-color: #348fe2;
		margin-left:2px;
		margin-right:2px;
		width:70px;
		height:;
		line-height:26px;
		cursor: pointer;

	}

.search_title_01{font-size: 16px;  color:#111111; padding-left:3px; line-height:38px;  font-weight:600; border-bottom:1px; border-bottom-color:#348fe2; border-bottom-style:solid;}


.footer_text {font-size: 11.5px;  
		         color:#aeaeae;
		         line-height: 150%; 
		         font-weight:;
			  }	





.btnPlus { 
	               width: 28px;
	              height: 28px;
	             padding: 0;
			  margin-top: ;
        background-image: url('icons/btnPlus.png'); 
       background-repeat: no-repeat; 
         background-size: 24px 24px; 
     background-position: center;
                  border: none;
        background-color: transparent;
		          cursor: pointer;
				  vertical-align:middle;
}






