@charset "UTF-8";

@import url( http://fonts.googleapis.com/earlyaccess/nanumgothic.css );


@media  screen {
	.screenOnly { display: block; }
	.printOnly  { display: none;  }

}

@media print {
	.screenOnly { display: none; !important}
	.printOnly  { display: block;  !important}

	td { border: 1px solid #d0d0d0; !important}
	input[type=text] { border: 1px solid white !important; }
	input[type=button] { display: none; !important}
	
	select { -webkit-appearance: none; -moz-appearance: none;appearance: none; border: none !important; }
	select::-ms-expand { display:none; }

	button { display: none; !important}
	
	div { overflow: visible !important;}	
}

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
				margin: 0;
				
}
div,input,select,option,textarea,span,label {   font-family: "Nanum Gothic", "맑은고딕", "ngWeb", "sans-serif"; font-size: 1.0rem;  }


              table { cellspacing:0; cellpadding:0;  border-collapse: collapse; }
           thead th { height: 38px; background-color: #ebf0fa; border: 1px solid #d0d0d0; }
 select::-ms-expand { -webkit-appearance: none; -moz-appearance: none; appearance: none;  border:0; background-color: transparent; }
   input[type=text]::-ms-clear{display: none; }
              input  { min-height: 28px; vertical-align: middle;  }
   input[type=text]  { border: 1px solid #d0d0d0; padding-left: 5px;  padding-right: 5px;}
   
             select  { min-height: 28px; vertical-align: middle; border: 1px solid #d0d0d0; padding: 0 5px 0 5px;}

a:link 		{    text-decoration: none; background-color: transparent; color: black; }
a:visited 	{    text-decoration: none; background-color: transparent; color: black; }
a:active    {    text-decoration: none; background-color: transparent; color: black; }


.imKor	{ ime-mode: active;   }
.imEng	{ ime-mode: inactive; }
.imPwd	{ ime-mode: disabled; }

.hide   { display: none; }

.cursor-pointer { cursor: pointer; }
.float-right { float: right; }
.float-left  { float: left;  }
.text-align-left  { text-align: left; }
.text-align-right { text-align: right; }
.text-align-center { text-align: center; }
.clear-both { clear: both; }
.font-weight-bold { font-weight: bold; }
.inline-block { display: inline-block; }
.border0 { border:0; }
.display-inline-block { display: inline-block; }


.default-line-height { height: 38px; }
.sexType-남 { background-color: blue; display:inline-block; width: 16px; height: 16px; border-radius: 50%; vertical-align: middle; margin-left: 3px; margin-right: 3px; }
.sexType-여 { background-color: pink; display:inline-block; width: 16px; height: 16px; border-radius: 50%; vertical-align: middle; margin-left: 3px; margin-right: 3px; }


.container-titleBar { position: fixed; left:0; top:0; right:0; height: 50px; padding: 10px; border: 1px solid #d0d0d0; }
.container-titleBar #menuIcon {
	               width: 28px;
	              height: 28px;
	             padding: 0;
			  margin-top: ;
        background-image: url('icons/btnWarning.png'); 
       background-repeat: no-repeat; 
         background-size: 24px 24px; 
     background-position: center;
                  border: none;
        background-color: transparent;
		          cursor: pointer;
				  vertical-align:middle;
	
}

.container-params   { position: fixed; left:0; top:50px; right: 0; height: 50px; padding: 10px; border-bottom: 1px solid blue;  }
.container-working   { position: fixed; top:100px; right:0; bottom: 0; left:0; }
.container-menu     { position: fixed; top:50px; right:0; bottom: 0; left:0; background-color: #fefefe; z-index: 99999; display: none; }
.container-menu a { padding: 10px;  }
.container-menu a:hover { background-color: black; color: white;  }


.shape-1 {
         display: inline-block;
   border-radius: 3px;
           color: #ffffff !important;
       font-size: 13px;
      text-align: center;
         padding: 0 5px 0 5px;
background-color: #348fe2;
  letter-spacing:-1px;
          cursor: pointer;
}

.size-90p {	width: 90%; }
.size-91p {	width: 91%; }
.size-92p {	width: 92%; }
.size-93p {	width: 93%; }
.size-94p {	width: 94%; }
.size-95p {	width: 95%; }
.size-96p {	width: 96%; }
.size-97p {	width: 97%; }
.size-98p {	width: 98%; }
.size-99p {	width: 99%; }
.size-100 { width: 100%;}

.h-small  { height: 20px; }
.h-middle { height: 28px; }
.h-large  { height: 40px; }
.h-98     { height: 98%; }


.color-blue {
	          border: none;
             display: inline-block;
       border-radius: 3px;
               color: white;
     text-decoration: none;
		  text-align: center;
        padding-left: 3px;
       padding-right: 3px;
	background-color: #348fe2;
         line-height: 26px;
              cursor: pointer;
           min-width: 28px;
              height: 28px; 
      vertical-align: middle;
	}

	
div.divTableBody {  bottom: 0; overflow: scroll; }


.btnDel { 
	               width: 28px;
	              height: 28px;
	             padding: 0;
			  margin-top: ;
        background-image: url('icons/btnDel.png'); 
       background-repeat: no-repeat; 
         background-size: 24px 24px; 
     background-position: center;
                  border: none;
        background-color: transparent;
		          cursor: pointer;
				  vertical-align:middle;
}

.btnPlus { 
	               width: 28px;
	              height: 28px;
	             padding: 0;
			  margin-top: ;
        background-image: url('icons/btnPlus.png'); 
       background-repeat: no-repeat; 
         background-size: 24px 24px; 
     background-position: center;
                  border: none;
        background-color: transparent;
		          cursor: pointer;
				  vertical-align:middle;
}

tr.delete { background-color: #e0e0e0; }
tr.modify { background-color: #ffffa6; }
