@charset "utf-8";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/*
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(http://cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css);
*/

* {	 box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; margin: 0;
	  font-size: 1.0rem;
	font-family: 'Nanum Gothic', 'sans-serif';
}
               talbe { border-collapse: collapse;}
    input[type=text] { height: 28px; }   
input[type=password] { height: 28px; }
  input[type=button] {  }   
              select { height: 28px; }

body { padding: 4px; }


.disabled { 
	cursor: not-allowed! important;
	disabled: true;
}
